.container-narrow
  %h1 统计
  %hr/
  - @tinfos.each do |tinfo|
    %h2
      = "#{tinfo[:name]}, #{tinfo[:subject]}, #{tinfo[:school].school_name}"
    - @qids.each do |qid|
      %p
        = "问题 #{qid}: #{tinfo[qid]} / #{tinfo[:count]}"
