.container-narrow
  %h1
    = "共 #{@all_count} 張投票"
  %hr/
  %form.form-horizontal{action: '/thx/', method: "post"}
    = csrf_tag
    - @qs.each do |q|
      %h2
        = "#{q[:id]}. #{q[:description]}"
      %p
        %label.radio.inline
          %input{name: "#{q[:id]}", type: "radio", value: "yes"}/
          = "是 #{q[:count]}"
        %label.radio.inline
          %input{name: "#{q[:id]}", type: "radio", value: "no"}/
          否
